
body {
  background-color: rgba(200,200,200,1);
  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
  height: 50px;
}
.top p {
  position: relative;
  top: 10px;
  margin-left: -20px;
}
#search-box {
  position: relative;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #aaaa;
  width: 70vw;
}
.background {
  position: relative;
  background-image: url("images/background.png");
  background-size: cover;
  height: 80px;
  overflow: hidden;
  z-index: -2;
}
.card {
  background-color: white;
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  height: 100%;
}
.subhead {
  color: grey;
  margin: -5px 0px 10px 0px;
}
.imp-text {
  margin: 10px 0px -10px 0px;
}
.intro-data {
  margin-top: -30px;
}
.posts {
  margin-top: 10px;
}
.profile-image-box {
  background-image: url("images/Yaarme-logo.png");
  background-size: contain;
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  top: -50px;
  left: -70px;
  z-index: 1;
}
.profile-image-box-background {
  background-color: white;
  width: 80px;
  height: 80px;
  float: left;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  position: relative;
  top: -50px;
  left: 10px;
  z-index: 0;
}
#followers {
  font-weight: bold;
  color: #0e76a8;
  font-size: 0.9em;
  margin: -10px 0px 10px 0px;
}
#post-author {
  padding-left: 10px;
}
.post-img {
  background-image: url("images/Yaarme-logo.png");
  background-size: cover;
  background-position: center;
  height: 250px;
}
.preview {
  background-color: #dddddd;
}
.fa {
  padding: 0px 0px 0px 15px;
}
.publish {
  background-color: #0e76a8;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: fixed;
  bottom: 8%;
  right: 8%;
  color: white;
  display: flex;
  justify-content: center;
}
.fa-edit {
  position: relative;
  top: 75%;
  right: 20%;
}
